@tailwind base;
@tailwind components;
@tailwind utilities;
/* If the user prefers dark mode, 
we of course apply color-scheme: dark, as usual */
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: light;
  }
}

/* If the user prefers light mode, 
we still enforce color-scheme: dark, despite the user preference */
@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
}

html,
body {
  height: 100%;

}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  
}

.blurred span {
  color: transparent;
  text-shadow: 0 0 12px rgba(0,0,0,0.8);
}

.svg-inline--fa {
  opacity: 0.2;
}