@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;

}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  
}

.blurred span {
  filter: blur(6px);
  /* As pointed out by Alexander Erlandsson (@alexerlandsson), for situations that require better cross-browser support, the blur effect is easily reproduced with transpartent text + text-shadow
  color: transparent;
  text-shadow: 0 0 12px rgba(0,0,0,0.8); */
}